---
title: Pivotal RabbitMQ for Kubernetes (Beta)
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

<%# If this product is in beta, keep and edit the warning note below. %>
<p class="note warning">
<strong>Warning: </strong>
The Pivotal RabbitMQ for Kubernetes tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a production environment.
</p>

<%# This topic begins with a brief description of what the product tile (e.g. Apigee Edge Service Broker for
PCF) does, whereas the Overview section below describes what the service itself (e.g. Apigee Edge) does. See
below for an example. %>

This documentation describes Pivotal RabbitMQ for Kubernetes.

DESCRIBE THE PURPOSE OF THIS PRODUCT.

## <a id='overview'></a>Overview

DESCRIBE IN SOME DETAIL WHAT THIS PRODUCT IS AND HOW IT WORKS.

## <a id='features'></a>Key Features


Pivotal RabbitMQ for Kubernetes includes the following key features:

* Feature one
* Feature two
* Feature three



## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PRODUCT-NAME.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>vYOUR-VERSION-NUMBER</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>YOUR-RELEASE-DATE (Ex: July 1, 2019)</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>YOUR-SOFTWARE-COMPONENT-VERSION-NUMBER</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

<%# Provide any general or specific requirements, prerequisites, or dependencies here. A general requirement
might be something like, "An AppDynamics account." A specific requirement might be something like, "Packaging
Dependencies for Offline Buildpacks." %>

YOUR-PRODUCT-NAME has the following requirements:

+ PREREQUISITE-1

+ PREREQUISITE-2

NOTE TO AUTHORS: Requirements can also be listed on the installing page as prerequisites to installing.

## <a id="limitations"></a>Limitations

<%# List any known limitations. %>

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) or send an email to YOUR-SUPPORT-EMAIL.

