---
title: Installing RabbitMQ for VMware Tanzu &#91;Kubernetes&#93; Using a Helm Chart
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_full %> using a Helm chart
hosted on VMware Tanzu Network.
For more information, see the [Helm documentation](https://helm.sh/docs/topics/charts/).

If you cannot obtain any of the [prerequisites](#prereqs) listed below, follow the steps in
[Installing RabbitMQ for VMware Tanzu &#91;Kubernetes&#93;](./installing.html)

### <a id='prereqs'></a> Prerequisites

Before you install and configure <%= vars.product_short %>, you must install and configure the following software:

1. **kubectl:** For installation instructions,
see the [Kubernetes documentation](https://kubernetes.io/docs/tasks/tools/install-kubectl/).

1. **The Docker CLI:** For installation instructions,
see the [Docker documentation](https://docs.docker.com/install/).

1. **A Kubernetes cluster:** You must use Kubernetes v1.14 or later. A default StorageClass has to be configured
or you need to specify which StorageClass to use.

1. **A private image registry:** VMware recommends that you keep the Kubernetes Operator
image private even if your registry is publicly accessible.
If you do not have access to a private image registry, email the team at rabbitmq-for-k8s@pivotal.io for help.

To use a Helm chart for installation, you must have:

1. **A VMware Tanzu Network account:** Create an account from the [Sign-up](https://account.run.pivotal.io/z/uaa/sign-up)
page if you do not already have one.
1. **The Helm CLI:** For installation instructions, see the [Helm documentation](https://helm.sh/docs/intro/install/).
1. **Access to the Pivotal Network registry:** For more information, see
[Verify Your Access to the Image Registry](#helm-verify-docker-access) below.

### <a id='helm-verify-docker-access'></a> Verify Your Access to the Image Registry

To verify your access to the VMware Tanzu Network registry:

1. Run:

    ```bash
    $ docker login registry.pivotal.io
    ```

1. At the username prompt, enter the email address associated with your VMware Tanzu Network account.

1. At the password prompt, enter your VMware Tanzu Network account password.

1. Pull the registry by running:

    ```bash
    $ docker pull registry.pivotal.io/p-rabbitmq-for-kubernetes/rabbitmq-for-kubernetes-operator:VERSION-NUMBER
    ```

    Where `VERSION-NUMBER` is the product version in VMware Tanzu Network. For example, `0.7.0-build.41`.

If the above command is successful and you do not want to relocate the Operator image, continue to
[Configure a Helm Chart Repository](#helm-configure-repo).

If you want to relocate the Operator image, or the above command fails with an error similar to

```
Error response from daemon: pull access denied [...]
```

then follow the steps in [Set a Version Variable](./installing.html#set-ver-var) and then follow the steps in
[Move the Images](./installing.html#relocate).
After you have finished these steps, proceed to [Configure Helm Chart Repository](#helm-configure-repo) below
or use the main [installation method](./installing.html#overview) above if you do not have permission to pull the image.

### <a id='helm-configure-repo'></a> Configure a Helm Chart Repository

To configure a Helm chart repository hosted in VMware Tanzu Network:

1. Run:

    ```bash
    $ helm repo add p-rabbitmq-for-kubernetes https://registry.pivotal.io/chartrepo/p-rabbitmq-for-kubernetes --username='EMAIL-ADDRESS' --password='PASSWORD'
    ```

    Where:
    * `'EMAIL-ADDRESS'` is the email address used to register in VMware Tanzu Network
    * `'PASSWORD'` is the same password of your VMware Tanzu Network account.

    <p class='note'>
      <strong>Note:</strong> Helm stores these credentials in a hidden file in plaintext.
      Consider using a bot or shared account details instead of your personal account credentials.
    </p>


1. Update the local Helm cache by running:

    ```
    helm repo update
    ```


### <a id='helm-create-values'></a> Create a Values File

To create a values file:

1. Run:

    ```
    helm show values p-rabbitmq-for-kubernetes/rabbitmq-operator > myvalues.yaml
    ```

2. Open the values file and customize the properties. See an example below:

    ```
    global:
      imageRegistry: registry.pivotal.io
      # This is Pivotal Network username/email address
      imageUsername:
      imagePassword:
    images:
      operator:
        name: registry.pivotal.io/p-rabbitmq-for-kubernetes/rabbitmq-for-kubernetes-operator
        tag: "0.7.0-build.41"
    ```

    Customize the values `imageUsername` and `imagePassword`.
    If you were able to pull the image registry when following the steps in
    [Verify Your Access to the Image Registry](#helm-verify-docker-access) above, these credentials are your
    VMware Tanzu Network username and password.

    If you were not able to pull the image registry, these credentials are likely the ones used in the
    [Move the Images](./installing.html#relocate) section.
    If you had to move the images, you have to customize `imageRegistry` and `images.operator.name` to match
    the registry and the image name provided when you moved the images.

    This is an example of a customized values file:

    ```
    global:
      imageRegistry: someregistry.example.com
      # This is Pivotal Network username/email address
      imageUsername: myuser@example.com
      imagePassword: mypassword
    images:
      operator:
        name: someregistry.example.com/some-project/rabbitmq-for-kubernetes-operator
        tag: "0.7.0-build.41"
    ```

### <a id='helm-install-op'></a> Helm Install

To install the Operator using Helm:

1. Run:

    ```
    helm -n default install -f myvalues.yaml rabbitmq-for-kubernetes p-rabbitmq-for-kubernetes/rabbitmq-operator
    ```

    Helm uses the option `-n default` to store a Kubernetes secret in the default namespace.
    Helm does this to avoid potential failures caused by `kubectl` context referencing non-existing namespaces.

1. Verify the output of the `helm install` command. See an example below.

    ```
    NAME: rabbitmq-for-kubernetes
    LAST DEPLOYED: Tue Mar 31 16:13:05 2020
    NAMESPACE: default
    STATUS: deployed
    REVISION: 1
    TEST SUITE: None
    ```
