---
title: Installing and Configuring Pivotal RabbitMQ for Kubernetes (Beta)
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure Pivotal RabbitMQ for Kubernetes.

## <a id='prerequisites'></a> Prerequisites

Before you install and configure RabbitMQ for Kubernetes, you must do the following:

+ 
+ 

## <a id='overview'></a> Overview

NOTE TO AUTHORS: Write a few sentences to describe the process for getting this product up and running.

NOTE TO AUTHORS: If there are multiple tasks in the procedure and they must be completed in order,
create an ordered list that contains each task in the topic.
Include anchor links to the headings for each task.

To install and configure RabbitMQ for Kubernetes, do the following:

1. [Install RabbitMQ for Kubernetes](#install)
1. [Configure RabbitMQ for Kubernetes](#configure)


##<a id='install'></a> Install RabbitMQ for Kubernetes

To install RabbitMQ for Kubernetes:

1. 

1.

1.

1.

##<a id='configure'></a>Configure RabbitMQ for Kubernetes

To configure RabbitMQ for Kubernetes:

1. First thing to do

1. Next thing you do

