---
title: Deploying Pivotal RabbitMQ for Kubernetes with KSM
owner: RMQ for k8s
---


<strong><%= modified_date %></strong>

This topic describes how to deploy <%= vars.product_full %> to Pivotal Cloud Foundry (PCF) using the [Container Service Manager (KSM)](https://docs.pivotal.io/ksm/0-4/index.html).

## <a id='prerequisites'></a> Prerequisites

1. **KSM:** For installation instructions, see [the KSM documentation](https://docs.pivotal.io/ksm/0-4/installing.html)

1. **Helm:** Helm2 is used to package our offering and provide to KSM. KSM supports Helm 2. For installation, see [Helm 2 quickstart](https://v2.helm.sh/docs/using_helm/#quickstart)

1. **RabbitMQ for Kubernetes Operator:** see [installation guide](#./installation.html)

## <a id='overview'></a> Overview

To install and configure <%= vars.product_short %> with KSM:

1. Unpack RabbitMQ for Kubernetes

    ```bash
    mkdir rabbitmq-for-kubernetes-${version}
    tar -C rabbitmq-for-kubernetes-${version} -xf rabbitmq-for-kubernetes-${version}.tar
    ``

1. (Optional) Configure rabbitmq helm chart
You can configure multiple [plans](https://docs.pivotal.io/ksm/0-4/using.html#plans) for how to deploy RabbitMQ for Kubernetes with KSM. By default, RabbitMQ for Kubernetes ships with two plans `single` (1-node cluster) and `ha` (3-node cluster). `plans/example-configurations.yaml` contains all available properties you can use to configure a RabbitMQ for Kubernetes plan.
Place any custom plans in `rabbitmq-for-kubernetes-${version}/charts/rabbitmq/plans` before packaging.

1. Package rabbitmq helm chart

    ```bash
    cd rabbitmq-for-kubernetes-${version}/charts/rabbitmq
    helm package .
    ```
You should be able to find a packaged helm chart called `rabbitmq-0.1.tgz` in our current directory.

1. Add rabbitmq service offering to KSM for PCF

Follow [KSM documentation](https://docs.pivotal.io/ksm/0-4/using.html#add)
