---
title: Monitoring and Logging Pivotal RabbitMQ for Kubernetes
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

This topic describes how to monitor and log Pivotal RabbitMQ for Kubernetes.

## <a id='overview'></a> Overview

<%# Add intro text %>

