---
title: Release Notes for Pivotal RabbitMQ for Kubernetes
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + "/services/beta-notice" %>

## <a id="0-4-0"></a> v0.4.0

**Release Date: October 28, 2019**

### Features

New features and changes in this release:

* [CNAB installation](./installing-cnab.html) method has been added
* RabbitMQ has been upgraded to 3.8.0


### Known Issues

There are no known issues for this release.
