---
title: Release Notes for Pivotal RabbitMQ for Kubernetes
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

## <a id="0-1-0"></a> v0.1.0

**Release Date: MMM XX, 2019**

### Features

New features and changes in this release:

* First release


### Security Fixes

This release includes the following security fixes:

*
*

### Resolved Issues

This release has the following fix:

*
*


### Known Issues

[//]: # (all known issues were fixed so we can say...)
There are no known issues for this release.
