---
title: Release Notes for Pivotal RabbitMQ for Kubernetes
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/services/beta-notice',
:locals => {:product_full => vars.product_full, :platform_name => vars.platform_name} %>

## <a id="0-5-0"></a> v0.5.0

**Release Date: January 9, 2020**

### Features

New features and changes in this release:

* There are two new fields that you can configure on the RabbitmqCluster custom resource:
  * `image` - Sets an image on the RabbitmqCluster level
  * `resource` - Defines CPU and RAM requests and limits

    For more information about configuring these fields, see [Configure a RabbitMQ Instance](./using.html#configure).

* All child resources now have default labels.

* RabbitMQ clusters are now configured to use `pause_minority` as the partition handling strategy by default.

* The documented procedure to automatically monitor new RabbitMQ clusters with Prometheus has been simplified.

* The documentation now provides sample Pod Security Policies.


### Resolved Issues

This release has the following fixes:

* The RabbitMQ Operator and Service Broker no longer run as root.

* The Operator now makes sure that there is only one instance managing the resources.
There is an election process on startup.

* The Operator and Service Broker deployments now have resource limits set.

* The ReadinessProbe is now faster.
This should reduce false negatives if you have set CPU requests low.

* The RabbitmqCluster pod `terminationGracePeriodSeconds` has been increased to 150 seconds.

* Changes to `spec.service.annotations` for the RabbitmqCluster now update the service.


### Known Issues

There are no known issues for this release.


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
