---
title: Release Notes for VMware Tanzu RabbitMQ &#91;Kubernetes&#93;
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/services/beta-notice',
:locals => {:product_full => vars.product_full, :platform_name => vars.platform_name} %>

## <a id="0-8-0"></a> v0.8.0

**Release Date: Month DD, 2020**

### Features

New features and changes in this release:


### Security Fixes

This release includes the following security fixes:

* [Insert security fix]


### Resolved Issues

* [Insert resolved issue]


### Known Issues

There are no known issues for this release.
