---
title: Release Notes for Pivotal RabbitMQ for Kubernetes
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/services/beta-notice',
:locals => {:product_full => vars.product_full, :platform_name => vars.platform_name} %>

## <a id="0-6-0"></a> v0.6.0

**Release Date: MMMM DD, 2019**

### Features

New features and changes in this release:

<%# metadata.annotations is a stub; please expand or delete %>
* `metadata.annotations` See [Update a RabbitMQ Instance](using.html#update).

<%# Tolerations is a stub; please expand or delete %>
* Tolerations for a Pod can be added to the custom resource.
  See [Configure a RabbitMQ Instance](using.html#configure).

### Security Fixes

This release includes the following security fixes:

*
*

### Resolved Issues

This release has the following fix:

*
*


### Known Issues

[//]: # (all known issues were fixed so we can say...)
There are no known issues for this release.
