we outsource to someone else---
title: Release Notes for Pivotal RabbitMQ for Kubernetes
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/services/beta-notice',
:locals => {:product_full => vars.product_full, :platform_name => vars.platform_name} %>

## <a id="0-5-0"></a> v0.5.0

**Release Date: January 09, 2020**

### Features

New features and changes in this release:

* New fields on the RabbitmqCluster Custom Resource:
  * image - an image can now be set explicitly on the RabbitmqCluster level
  * resources - CPU and RAM requests and limits can now be defined
* All child resources now have default labels
* RabbitMQ clusters are now configured to use `pause_minority` partition handling strategy by default

### Documentation

* The process to automatically monitor new RabbitMQ clusters with Prometheus has been simplified
* Sample Pod Security Policies are now provided

### Resolved Issues

This release has the following fix:

* RabbitMQ Operator and Service Broker are no longer running as root.
* The Operator now makes sure there is only one instance managing the resources (there is an election process on startup)
* Operator and Service Broker deployments now have resource limits set
* ReadinessProbe is now faster. This should reduce false-negatives if CPU requests are set low.
* RabbitmqCluster pod `terminationGracePeriodSeconds` has been increased to 150 seconds.
* Changes to RabbitmqCluster spec.service.annotations are now reconciled (Service object is updated)

### Known Issues

[//]: # (all known issues were fixed so we can say...)
There are no known issues for this release.
