---
title: Release Notes for Pivotal RabbitMQ for Kubernetes
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials,
:locals => {:product_full => vars.product_full, :platform_name => vars.platform_name} %>

## <a id="0-6-0"></a> v0.6.0

**Release Date: January 22, 2020**

### Features

New features and changes in this release:

* Additional deployment properties are now available, including affinity rules and toleration, which can be configured to control Pod scheduling.
For more information, see [Using <%= vars.product_full %>](./using.html).
* The Cloud Native Application Bundle (CNAB) installation method has been removed.

### Known Issues

There are no known issues for this release.
