---
title: Release Notes for Pivotal RabbitMQ for Kubernetes
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

These are release notes for Pivotal RabbitMQ for Kubernetes.


##<a id="ver"></a> vCURRENT-VERSION-NUMBER (Ex. v1.0.1)

**Release Date:** MMMM DD, 2019


Features included in this release:

* Feature one.
* Feature two.
* Feature three.


Known issues in this release:

* Issue one.
* Issue two.
* Issue three.
