---
title: Pivotal RabbitMQ for Kubernetes (Beta)
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + "/services/beta-notice" %>

Product upgrades are currently not supported. If you want to test a newer version, uninstall the previous version first.

## <a id='overview'></a> Overview

Use the uninstall method that corresponds to the method you used for installation.

<%# Add TOC %>

## <a id='uninstall-bundle'></a> Uninstall the Cloud Native Application Bundle (CNAB)

To uninstall the CNAB, run:

  ```
  duffle uninstall rabbitmq --credentials rabbitmq-creds --relocation-mapping=relmap.json
  ```

## <a id='uninstall-manifests'></a> Uninstall Through the Manifests

To uninstall the product if it was installed through the Kubernetes manifests, run the following commands:

  ```
  cd rabbitmq-for-kubernetes-$version
  kubectl delete -f manifests/
  ```
