---
title: Pivotal RabbitMQ for Kubernetes (Beta)
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/services/beta-notice',
:locals => {:product_full => vars.product_full, :platform_name => vars.platform_name} %>

Product upgrades are currently not supported. To test a newer version, uninstall the previous version first.

## <a id='uninstall-manifests'></a> Uninstall Through the Manifests

To uninstall the product if it was installed through the Kubernetes manifests, run these commands:

  ```
  cd rabbitmq-for-kubernetes-$version
  kubectl delete -f manifests/
  ```

## <a id='install'> Install the Latest Version

Follow the steps in [Installing Pivotal RabbitMQ for Kubernetes](./installing.html) to install the latest version of <%= vars.product_full %>.
